/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
html {
    font-size: 62.5%;
}
* {
    box-sizing: border-box;
}
a {
    color: white;
    text-decoration: none !important;
}

.blinker {
    color: white;
    margin-bottom: -2px;
    height: 15px;
    margin-left: -5px;
    border-right: 3px solid white;
    animation: blinker 1s steps(2, start) infinite;
}

@keyframes blinker {
    to {
        visibility: hidden;
    }
}

.App {
    width: 100%;
}

.App header {
    width: 100%;
    height: 100vh;
    font-size: 3rem;
    font-family: "Roboto";
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("https://images.pexels.com/photos/234527/pexels-photo-234527.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")
        no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.App header .header-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.App header .header-content h1 {
    color: white;
    font-family: Arial;
    font-size: 8rem;
    font-weight: bold;
}

#last-name {
    font-family: "Arial Narrow";
    font-weight: 100;
    color: #5fc8f8;
}

.change-text {
    color: grey;
    padding: 10px;
}

.App header .logos {
    display: flex;
    width: 6%;
    justify-content: space-between;
    color: white;
}

.App header .logos i {
    font-size: 6rem;
    transition: 0.5s ease;
}
.fa-github:hover {
    color: grey;
    transition: 0.2s;
}
.fa-linkedin-in:hover {
    color: #007ab9;
}
.fa-globe:hover {
    color: rgb(102, 102, 241);
    transition: 0.2s;
}
.App header .logos i:hover {
    cursor: pointer;
    transition: 0.2s ease-in-out;
    /* border-radius:5px; */
    /* background:rgba(255, 255, 255, 0.7); */
}
.fa-chevron-down {
    display: flex;
    justify-content: center;
    font-size: 5vh;
    text-align: center;
    color: grey;
    margin-top: -10vh;
    cursor: pointer;
    -webkit-animation: jump 1.5s ease 0s infinite normal;
    animation: jump 1.5s ease 0s infinite normal;
}
.fa-chevron-down:hover {
    color: white;
    transition: 0.2s;
}

.tabs {
    display: flex;
    margin-bottom: 0;
    list-style: none;
    justify-content: space-between;
    /* border-radius: 4px; */
}

@-webkit-keyframes jump {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    20% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    50% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
    80% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    50% {
        transform: translateY(0);
    }
    60% {
        transform: translateY(-15px);
    }
    80% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}

/* 
      ABOUT ME
*/
#about-me-container {
    padding: 5%;
    background: rgba(223, 222, 222, 0.9);
    border-radius: 10px;
    border: 1px solid white;
}
.about-me {
    width: 100%;
}
.about-me h1 {
    font-size: 4rem;
    text-align: center;
}
.about-me p {
    font-size: 2rem;
}

/* 
      PROJECT CARD 
*/
#projects-container {
    width: 65%;
    background: rgba(100, 100, 100, 0.9);
}
#projects-container::-webkit-scrollbar {
    display: none;
}

.projects {
    display: flex;
    flex-direction: row;
    /* background: url("http://www.freebiesgallery.com/wp-content/uploads/2012/11/abstract-backgrounds-09.jpg"); */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 50%;
}
.project-card {
    width: 20%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
}
.project-card:hover {
    position: relative;
    top: -15px;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
.project-card h3 {
    font-size: 3.4rem;
    width: 100%;
    text-align: center;
    border-bottom: 3px solid grey;
}
.project-card img {
    width: 100%;
    /* height:50%; */
}

#project-header {
    margin-top: 100px;
}

/* 
      CONTACT
*/
#contact-container {
    width: 40%;
    background: rgba(223, 222, 222, 0.9);
    border-radius: 10px;
    border: 1px solid white;
    position: fixed;
    top: 35%;
    left: 30%;
    right: 30%;
    bottom: 31%;
}
.contact {
    padding: 25px 5%;
    height: 100%;
}
.contact h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 25px;
}
.contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.contact form input {
    display: block;
    width: 50%;
    background: #e6e6e6;
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px;
}
.contact form input:focus {
    box-shadow: 0 10px 10px rgb(0, 0, 0);
    outline-width: 0;
    border: 1px solid black;
    background: rgba(4, 0, 248, 0.068);
}

.contact #message {
    display: block;
    max-width: 50%;
    min-width: 50%;
    background: #e6e6e6;
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
    min-height: 150px;
    border-radius: 25px;
    padding: 12px 30px;
}
.contact #message:focus {
    box-shadow: 0 10px 10px rgb(0, 0, 0);
    outline-width: 0;
    border: 1px solid black;
    background: rgba(4, 0, 248, 0.041);
}

#submit-message {
    background: rgb(14, 14, 104);
    color: white;
    border: 2px solid black;
    cursor: pointer;
    font-size: 2rem;
    transform: scale(0.95);
    transition: 0.5s;
}
#submit-message:hover {
    background: green;
    border: none;
    transition: 0.5s;
    transform: scale(1);
}
.vertical-line {
    width: 1;
    height: 55px;
}

/* REGULAR HD MONITOR */
@media (max-width: 1440px) {
    .App header .logos {
        width: 10%;
    }
    .vertical-line {
        height: 15px;
        margin-top: 0;
    }
}
/* TABLET VIEW */
@media (max-width: 1024px) {
    .vertical-line {
        display: none;
    }
}
/* PHONE VIEW */
@media (max-width: 500px) {
    .tabs {
        width: 100%;
        flex-direction: column;
        background: black;
        height: 200px;
    }
    .App .header-content h1 {
        text-align: center;
    }
    .App header .logos {
        width: 40%;
    }
    #projects-container {
        width: 100%;
    }
    /* #contact-container{
    width:90%;
  } */
    .contact form input {
        width: 100%;
        height: 100px;
    }
    .contact form #message {
        max-width: 100%;
        min-width: 100%;
        max-height: 300px;
        width: 100%;
    }
}

@media (max-height: 800px) {
    .vertical-line {
        display: none;
    }
    #about-me-container {
        padding: 0;
        padding-right: 10px;
        padding-left: 10px;
    }
    #contact-container {
        top: 15%;
        left: 30%;
        right: 30%;
        bottom: 15%;
    }
    .contact form input {
        width: 80%;
    }
    .contact form #message {
        min-width: 80%;
        width: 80%;
        max-height: 200px;
    }
}
