.box2 {
    display: block;
    height: 200px;
    position: relative;
    text-align: center;
    transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.box2:hover .box-content {
    margin-top: -2em;
}

.box2 .box-content {
    height: 50%;
    position: relative;
    top: 50%;
    margin-top: -1em;
    text-transform: uppercase;
    transition: all 0.2s;
    -webkit-transition: all 0.2s ease-in-out;
}

.projects {
    background: url('https://i.ibb.co/YfPyjd2/Lambda-Notes.png') no-repeat center;
}

.projects2 {
    background: url('https://i.ibb.co/x2hG9Z5/sandj.png');
}

.projects3 {
    background: url('https://i.ibb.co/wphPM0K/Erudition-Site2.jpg');
}

.hidden{
    visibility: hidden;
}

.projectsH{
    width: 90%;
    height: 30vh;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.493);
    background-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;
    margin-top:35px;
    border-radius:10px;
}

.projectsH:hover{
    background-color: rgba(0, 0, 0, 0.85);
    background-blend-mode: darken;
    color:rgb(116, 114, 114);
}

.box2 hr{
    width:100%;
}
.box2:hover hr {
    width: 15%;
    transition: all ease-in-out 0.3s;
}

.project-icon{
    font-size: 5rem;
}

.project-section{
    width:100%;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.card-title{
    font-size: 3rem;
    background:rgba(255, 255, 255, 0.418);
    text-align: center;
}
.box2:hover .card-title{
    transition:.5s;
    background: none;
}
.card-desc{
    font-size: 2rem;
    background:rgba(255, 255, 255, 0.418);
    text-align: center;
}
.box2:hover .card-desc{
    display:none;
}

.project-stack{
    font-size: 2rem;
}


@media (max-width:1920px) {
    .project-section{
        width:100%;
    }
}

@media (max-width: 800px){
    .project-section{
        width:100%;
    }
}