.box2 {
    display: block;
    height: 200px;
    position: relative;
    text-align: center;
    transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    color: black;
    -webkit-box-shadow: -1px 14px 62px -17px rgba(0, 0, 0, 0.64);
    -moz-box-shadow: -1px 14px 62px -17px rgba(0, 0, 0, 0.64);
    box-shadow: -1px 14px 62px -17px rgba(0, 0, 0, 0.64);
}

.box2:hover .box-content {
    margin-top: -2em;
}

.box2 .box-content {
    height: 50%;
    position: relative;
    top: 50%;
    margin-top: -1em;
    text-transform: uppercase;
    transition: all 0.2s;
    -webkit-transition: all 0.2s ease-in-out;
}

.hidden {
    visibility: hidden;
}

.projectsH {
    width: 50%;
    height: 30vh;
    background-size: cover !important;
    background-color: rgba(0, 0, 0, 0.493) !important;
    background-blend-mode: multiply !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    margin-top: 35px;
    border-radius: 10px;
}

.projectsH:hover {
    background-color: rgba(0, 0, 0, 0.85) !important;
    background-blend-mode: darken !important;
    color: rgb(116, 114, 114) !important;
}

@media (max-width: 1440px) {
    .projectsH {
        width: 75%;
    }
}

.box2 hr {
    width: 100%;
}
.box2:hover hr {
    width: 15%;
    transition: all ease-in-out 1.5s;
}

.project-icon {
    font-size: 5rem;
}

.project-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.card-details {
    background: rgba(255, 255, 255, 0.774);
    padding: 10px;
}

.card-title {
    font-size: 3rem;
    text-align: center;
}
.box2:hover .card-title {
    transition: 0.5s ease-in-out;
    background: none;
}
.box2:hover .card-details {
    transition: 0.5s ease-in-out;
    background: none;
}
.card-desc {
    font-size: 2rem;
    text-align: center;
}
.box2:hover .card-desc {
    display: none;
}

.project-stack {
    font-size: 2rem;
    margin-bottom: 10px;
}

@media (max-width: 1440px) {
    .projectsH {
        height: 50vh;
    }
}
